node_modules/
*.log
.DS_Store
.env
dist/
build/node_modules/
**/node_modules/
BackEnd/node_modules/
FrontEnd/node_modules/
BackEnd/.env
FrontEnd/.env
.env
FrontEnd/build/
BackEnd/build/
dist/
coverage/
*.log
.DS_Store
Thumbs.db
*.map
*.map
FrontEnd/public/media/
FrontEnd/public/img/
FrontEnd/public/fonts/
FrontEnd/public/couvertures/
FrontEnd/public/js/vendor/
FrontEnd/public/css/*.map
